<meta name="theme-color" content="#FF7890">
<link rel="icon" href="{{site.url}}/favicon.ico" type="image/x-icon">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="description" content="The comfy Fediverse client">
<meta property="og:site_name" content="Kaiteki" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="The comfy Fediverse client" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{site.url}}/img/kaiteki.png" />