<meta name="theme-color" content="#FF7890">
<link rel="icon" href="{{site.url}}/favicon.ico" type="image/x-icon">
{% if page.title %}
<title>{{ page.title }} - {{ site.title }}</title>
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<meta property="og:site_name" content="Kaiteki" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
{% if page.banner %}
<meta property="og:image" content="{{site.url}}{{page.banner}}" />
<meta name="twitter:card" content="summary_large_image">
{% else %}
<meta property="og:image" content="{{site.url}}/img/kaiteki.png" />
<meta name="twitter:card" content="summary">
{% endif %}
{% if page.author and site.data.authors[page.author].twitter %}
<meta name="twitter:creator" content="@{{site.data.authors[page.author].twitter}}">
{% endif %}
{% if page.excerpt %}
{% assign excerpt = page.excerpt | strip_html | strip_newlines %}
<meta name="description" content="{{excerpt}}">
<meta property="og:description" content="{{excerpt}}" />
{% else %}
<meta name="description" content="The comfy Fediverse client">
<meta property="og:description" content="The comfy Fediverse client" />
{% endif %}