<nav>
    <div class="navigation-container">
        <a id="kaiteki-logo" href="{% link index.html %}">
            <img alt="" src="{% link /img/kaiteki-64x.png %}">
            <span>Kaiteki</span>
        </a>
        <ul>
            <li><a href="{% link posts.html %}">Posts</a></li>
            <li><a href="{% link compatibility.html %}">Compatibility</a></li>
            <li><a href="{% link contribute.html %}">Contribute</a></li>
            <li><a href="{% link _help/index.html %}">Help</a></li>
        </ul>
    </div>
</nav>