---
layout: default
title: Compatibility
include-title: true
uses-icons: true
---

<div class="three-columns" style="gap:8px">
    {% for backend in site.compatibility %}
    <a class="backend-support-card" href="{{backend.url}}">
        <span>{{backend.backend}}</span>
        {% if backend.built-on %}
        <span>Built on {{backend.built-on}}</span>
        {% endif %}
        <div class="progress" style="display: flex;">
            {% for category in backend.progress %}
            <div style="flex:{{category[1].size}}"></div>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
</div>
