---
layout: default
title: Get Kaiteki
include-title: true
---

<div id="platforms">
    <section>
        <h2>Smart-fridges</h2>
        <div>
            <a href="https://web.kaiteki.app">{% include svg/pwa.svg %} <span>Web</span></a>
        </div>
    </section>
    <section>
        <h2>Desktop</h2>
        <div>
            <a href="{% link get/windows.html %}">{% include svg/windows11.svg %} <span>Windows</span></a>
            <a href="{% link get/linux.html %}">{% include svg/linux.svg %} <span>Linux</span></a>
        </div>
    </section>
    <section>
        <h2>Mobile</h2>
        <div>
            <a href="{% link get/android.html %}">{% include svg/android.svg %} <span>Android</span></a>
        </div>
    </section>
</div>

<h2>About support for Apple platforms</h2>
<p>Developing for Apple platforms is a very difficult and costly undertaking. Please refer to the following linked issues for the current status of Apple support:</p>
<ul>
    <li><a href="https://github.com/Kaiteki-Fedi/Kaiteki/issues/177">(#177) iOS & iPadOS</a></li>
    <li>(Not yet created) macOS</li>
</ul>

<style>
    #platforms {
        display: flex;
        gap: 16px;
    }

    #platforms > section {
        flex: 1;
    }

    #platforms > section > * {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #platforms a {
        background-color: var(--surface-variant);
        color: var(--on-surface-variant);
        border-radius: 8px;
        padding: 12px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #platforms svg {
        fill: currentColor;
        width: 48px;
        height: 48px;
    }
</style>
