---
title: Posts
layout: default
---

{% assign default-thumbnail = "/img/default-post-header.png" %}
<div class="post-list">
    {% for post in site.posts %}
    <div class="post">
        <img class="cover" src="{% link {{ post.banner | default: default-thumbnail }}%}">
        <div>
            <a href="{% link {{ post.path }} %}">
                <h2>{{post.title}}</h2>
            </a>
            <p class="post-meta secondary-text">{% include post-meta.html %}</p>
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        </div>
    </div>

    {% endfor %}

</div>