---
---

$body-font: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
$brand-font: "Quicksand", $body-font;
$heading-font: $brand-font;
$monospace-font: "Roboto Mono", "Lucida Console", "Consolas", monospace;
$rounding: 8px;
$page-width: 800px;
$page-margin: 32px;
$navigation-link-spacing: 1em;
$page-breakpoint: 600px;
$nav-height: 52px;

:root {
    --background: #FFFBFF;
    --on-background: #201A1B;
    --primary: #A7354E;
    --on-primary: #FFF;
    --outline: #847374;
    --surface-variant: #F4DDDF;
    --on-surface-variant: #524344;
    --on-inverse-surface: #FBEEEE;
    --inverse-surface: #362F2F;
    --inverse-primary: #FFB2BC;
    --outline-variant: #D7C1C3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #201A1B;
        --on-background: #ECE0E0;
        --primary: #FFB2BC;
        --on-primary: #670022;
        --outline: #9F8C8E;
        --surface-variant: #524344;
        --on-surface-variant: #D7C1C3;
        --on-inverse-surface: #201A1B;
        --inverse-surface: #ECE0E0;
        --inverse-primary: #A7354E;
        --outline-variant: #524344;
    }
}

@import "base";
@import "blog";
@import "compatibility";
@import "download";
@import "index";

.two-columns {
    grid-template-columns: repeat(2, 1fr);
}

.three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.two-columns, .three-columns {
    display: grid;
    gap: 32px;
    & > * { min-width: 0; }
}

.page-margin {
    padding: 0 $page-margin;
}

.text-center { text-align: center; }



.navigation-sidebar {
    width: 200px;
    grid-column: 2 / 3;
    border-right: var(--outline-variant) 1px solid;
}

#featured-screenshot {
    display: block;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    background-color: #f2f4ff;
    width: 100%;
}

.container-sidebar {
    display: flex;
    gap: 12px;

    ul {
        list-style: none;
        padding: 0;
    }
}

.navigation-sidebar-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--outline);
    margin-left: 8px;
}

.navigation-sidebar li {
    padding: 8px 12px;
    border-radius: 24px;
    margin-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.selected {
        background: transparentize($color: #ff7890, $amount: 0.5);
    }

    &:hover {
        background: transparentize($color: #ff7890, $amount: 0.85);
    }
}

.navigation-sidebar a {
    color: inherit;
}

.card-list {
    @extend .two-columns;

    padding: 0;

    & > li {
        list-style: none;
        display: block;
    }

    & > * {
        background-color: var(--surface-variant);
        color: var(--on-surface-variant);
        padding: 16px;
        border-radius: 12px;
    }
}

.card-title {
    font-family: $heading-font;
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
}


body > * {
    max-width: $page-width;
    margin-left: auto;
    margin-right: auto;
}

.alpha-badge {
    // colors
    background: var(--primary);
    color: var(--on-primary);

    // text appearance
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;

    border-radius: 24px;
    padding: 0 12px;

    // align properly
    position: relative;
    top: -2pt;
}

.download-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--outline);
    font-size: 90%;
}

// "vertical list"
.vl {
    all: unset;
    display: flex;
    flex-direction: column;

    li {
        all: unset;
    }
}

.code-card {
    margin: 0 16px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    background-color: #212121;
    color: #EEFFFF;
    overflow: scroll;
    font-size: 0.5rem;

    figure {
        margin: 0;
        padding: 0;
        display: flex;
    }

    pre {
        padding: 1em;
        margin: 0;
        flex: 1;
    }

    .n { color: #FFCB6B; }
    .k, .kn, .kt, .kd { color: #89DDFF; }
    .kc { color: #ff9cac; }
    .s { color: #C3E88D; }
    .c1 { color: #545454; }
    .na { color: #82AAFF; }
}

// "grid list"
.gl {
    all: unset;
    display: grid;

    li {
        all: unset;
    }
}

.fake-store-badge {
    width: 210px;
    height: 64px;

    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px 24px;
    box-sizing: border-box;

    & > *:first-child {
        margin-right: 16px;

    }
}

footer {
    display: flex;

    & > * {
        flex-grow: 1;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        b {
            margin-bottom: 16px;
            display: block;
        }

        ul {
            all: unset;
        }

        li {
            all: unset;
            margin-bottom: 8px;display: block;
        }
    }
    
    & > *:first-child {
        flex-grow: 2;
    }

    @extend .page-margin;
}

.home-support-img {
    top: 2pt;
    position: relative;
}
.button {
    all: unset;
    background: var(--primary);
    color: var(--on-primary);
    border-radius: 40px;
    height: 40px;
    padding: 0 24px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &--icon {
        @extend .button;

        padding-left: 16px;
        
        .material-symbols-rounded {
            margin-right: 8px;
            width: 24px;
            height: 24px;
        }
    }
}

.columns {
    // grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    display: grid;
}

.columns-center {
    @extend .columns;
    text-align: center;
}

.image-container {
    margin-left: 24px;
}

@import "portrait";